---
import BaseLayout from "../layouts/BaseLayout.astro";
import { toAnchor } from "../scripts/utils";
const allPosts = await Astro.glob("../pages/*.mdx");

const pageTitle = "";
const metaDescription = "Personal and professional website of Cameron Grant";
---

<style>
  nav {
    margin-top: var(--size-8);
  }

  nav ul {
  }
  nav li {
    margin-bottom: var(--size-6);
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    max-inline-size: initial;
  }
  nav li a {
    display: block;
  }
</style>
<BaseLayout pageTitle={pageTitle} metaDescription={metaDescription}>
  <nav id="menu">
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a
              id={toAnchor(post.url || "")}
              href={post.url}
              data-astro-reload={!!post.frontmatter.pico8}
            >
              {post.frontmatter.title}
            </a>
            <p>{post.frontmatter.description}</p>
          </li>
        ))
      }
    </ul>
  </nav>
</BaseLayout>
