---
import BaseLayout from "../layouts/BaseLayout.astro";
import { toAnchor } from "../scripts/utils";
const allPosts = await Astro.glob("../pages/*.mdx");

const pageTitle = "";
const metaDescription = "Personal and professional website of Cameron Grant";
---

<BaseLayout pageTitle={pageTitle} metaDescription={metaDescription}>
  <nav id="menu" class="home-nav">
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a
              id={toAnchor(post.url || "")}
              href={post.url}
              data-astro-reload={!!post.frontmatter.pico8}
            >
              {post.frontmatter.title}
            </a>
            <p>{post.frontmatter.description}</p>
          </li>
        ))
      }
    </ul>
  </nav>
</BaseLayout>
