---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
const { pageTitle, url, metaDescription } = Astro.props;
const title = pageTitle ? pageTitle : "sasky.nz";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    <ViewTransitions />
  </head>
  <body>
    <Header anchor={url} />
    <main>
      {pageTitle && <h1>{pageTitle}</h1>}
      <slot />
    </main>
    <Footer />
  </body>
</html>
