---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

const dateYMD = frontmatter.pubDate.slice(0, 10);
const dateDDMMYYYY = new Date(dateYMD).toLocaleDateString("en-GB" );
---

<style>
  
  .tags {
    display: inline-block;
    margin:  0 0 var(--size-6)  0 ;
    background-image: var(--gradient-21);
    border-radius: 5px;
  }

  .tags a {
    display: inline-block;
    padding: var(--size-4)  var(--size-5);
    color: var(--stone-2);

  }
  .tags a:hover {
    color: var(--red-7);
    background-image: var(--gradient-5);
  }
  em {
    margin:  0 0  var(--size-5)  0 ;
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <time datetime={dateYMD}>{dateDDMMYYYY}</time>
  <nav class="tags">
    {
      frontmatter.tags.map((tag) => (
          <a href={`/tags/${tag}`}>{tag}</a>
      ))
    }
  </div>
  <p><em>{frontmatter.description}</em></p>

  {
    frontmatter.image && (
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    )
  }

  <slot />
  <style></style>
</BaseLayout>
